<p id="notice"><%= notice %></p>

<%= form_tag(rooms_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search" %>
<%= submit_tag "Search" %>
<% end %>

<% if @rooms.present? %>
  <%= render @rooms %>
<% else %>
  <p>There are no listing matching <%= params[:search] %>. </p>
<% end %>

<h1>Rooms</h1>
  <% @rooms.each do |room| %>

    <div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading"><%= room.name %></div>
    <div class="panel-body">
      <p><%= room.description %></p>
    </div>

  <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item"><%= image_tag(room.images_urls.first) %>
        </li>

        <li class="list-group-item">Accommodates: <%= room.accommodates %></li>
        <li class="list-group-item">Bathrooms: <%= room.bathroom %></li>
        <li class="list-group-item">Price: <%= room.price %></li>
        <li class="list-group-item">Kitchen: <%= room.kitchen %></li>
        <li class="list-group-item">Internet: <%= room.internet %></li>
        <li class="list-group-item">Pets: <%= room.pets %></li>
        <% if current_user.id = room.user_id%>
        <li class="list-group-item"><%= link_to 'Show', room %></li>
        <li class="list-group-item"><%= link_to 'Edit', edit_room_path(room) %></li>
        <li class="list-group-item"><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% else %>
        <% end %>
      </ul>
    </div>

  <% end %>

</table>

<br>
