<p id="notice"><%= notice %></p>

<div class="cover-img-container">
  <div class="row">
    <div class="col-md-12">
        <%= image_tag(@room.images_urls.first, class: "img-responsive center-block") %>
    </div>
  </div>
</div>

<!-- shows all images
<% @room.images_urls.each do |gallery| %>
<%= image_tag(gallery) %>
<% end %> -->

<div class="container">
  <div class="row">
      <img src="http://placehold.it/150x150" class="img-circle">
  </div>
  <div class="row texttest">
    <div class="col-md-6">

      <%= @room.user.firstname %>
    </div>
  </div>
</div>



<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <i class="fa fa-user" aria-hidden="true"></i>
  <%= @room.accommodates %>
</p>

<p>
  <i class="fa fa-beer" aria-hidden="true"></i>
  <%= @room.bathroom %>
</p>

<p>
  <i class="fa fa-usd" aria-hidden="true"></i>
  <%= @room.price %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @room.kitchen ? "Yes":"No" %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @room.internet %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @room.pets %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user.firstname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
